@import-normalize;
/* bring in normalize.css styles */

:root {
  --main-bgr-color: #2c394b;
  --dark-color: #082032;
  --accent-color: #ff4c29;
  --light-grey-color: #334756;
  --white-color: #ffffff;
  --transparent-white: #ffffffbb;
  --extra-tr-white: #ffffff77;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--main-bgr-color);
  color: var(--white-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

p,
ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
